name: Auto-merge

on:
  pull_request_review:
    types: [submitted]

jobs:
  enable-auto-merge:
    runs-on: ubuntu-latest
    if: github.event.review.state == 'approved'
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Enable auto-merge
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
